
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body {height:100%; padding: 0;margin: 0;}
html {display:table; width:100%;}
body {display:table-cell; text-align:center; vertical-align:middle;}
.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}
.fa:hover {
opacity: 0.7;
}
.fa-facebook {
background: #3B5998;
color: white;
}
.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-youtube {
background: #bb0000;
color: white;
}
.fa-instagram {
background: #125688;
color: white;
}
</style>
</head>
<body>
<p style="font-size: 25px;">
Gracias por Registrarte en nuestro portal, estarás recibiendo noticias relevante a repuestos
Automotriz
</p>	
<p></p>
<p>Atte</p>
<div class="fijo">
<img src="http://localhost:3000/images/logo.jpg" class="img-rounded" alt="Cinque Terre" width="150" height="96">
<p>Usuario que responde el Mensaje</p>
<p>Cargo dentro de la Organización</p>
<a href="#" style="font-size: 30px;">torondoyweb.com.ve</a>
<p></p>
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
</div>
</body>
</html>