<div class="container">
	<h1>Pre-Compra</h1>

	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 media">
	  		<p id="precompra-nombre" class="media-heading">Nombre del Repuesto con todo</p>		
		    <div class="media-left">
		      <img src="/images/repuestos/3006.jpg" class="media-object" style="width:210px">
		    </div>
		    <div class="media-body">
		      	<p id="precompra-cant">Cantidad</p>
		      	<p id="precompra-precio">Precio</p>
		      	<p id="precompra-subt">Sub-total</p>
	  		    <button type="button" class="btn btn-danger btn-xs">Eliminar</button>
		    </div>
	  	</div>
	</div>


</div>
