<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
	.buttonload-bd {
		border: 2px solid black;
	    background-color: white;
	    color: black;
	    padding: 14px 28px;
	    font-size: 16px;
	    cursor: pointer;
		border-color: #4CAF50;
	    color: green;
	}
	.buttonload-bd:hover {
	    background-color: #4CAF50;
	    color: white;
	}
</style>
<div class="container">
	<h4>Utilidades de Base de Datos</h4>
	<h1>Base de Datos: <span class="label label-default">{{xbasededatos}}</span></h1>
	<br>
	<table id="tablebd" class="table table-bordered table-hover" style="font-size: 25px;">
	    <tr></tr>
	    <tbody></tbody>
	</table>
	<button class="buttonload-bd" id="actualizarbd">
  		<i id="iconbd" class="fa fa-database fa-3x fa-fw" aria-hidden="true"></i>
  		<span id="spandbd">Actualizar Estructura</span>
	</button>

</div>

<script>
	$(function(){
	  	llenarListabd( {{{xlisttablas}}} )
    })
    function borrarTabla()	{
		var tb = document.getElementById('tablebd')
        while(tb.rows.length > 1) {
          tb.deleteRow(1)
        }
    }
	function llenarListabd(mLista){
		borrarTabla()
		var mCampo = "aqui va el nombre del campo que viene de primero el la lista"
		var mLista = mLista
		if ( mLista == "nada" ) { return } // en el backend si no hay tabalas retorna "nada"
		var mS = ''
	 	$.each(mLista, function(index, element) { 
	 		if ( index == 0 ) { // el la fila 0 viene el nombre del campo
	 			mCampo = element.campo
 			} else {
				mS = ''
	            mS += '<tr>'
	            mS += '<td>' + eval('element.' + mCampo) + '</td>'
	            mS += '</tr>'
	            $('#tablebd tr:last').after( mS )
	 		}
	 	})
	}
	jQuery('#actualizarbd').click(function(){
  		$("#spandbd").text("Actualizando...")
		$("#iconbd").removeClass('fa fa-database').addClass('fa fa-spinner fa-spin')
		$("#actualizarbd").attr("disabled", true)
		$.post("/actualizarbd",function(data){
	  		$("#spandbd").text("Actualizar Estructura")
			$("#iconbd").removeClass('fa fa-spinner fa-spin').addClass('fa fa-database')
			$("#actualizarbd").attr("disabled", false)
			if ( typeof(data) == "object" ) {
				llenarListabd(data)
			}
			if ( typeof(data) == "string" ) {
				if ( data == "error" ) { borrarTabla() }
			}
		})
	})	
</script>
